accessible-pygments==0.0.5
alabaster==1.0.0
babel==2.17.0
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
docutils==0.21.2
furo==2024.8.6
idna==3.10
imagesize==1.4.1
itsdangerous==2.2.0
Jinja2==3.1.6
linkify==1.4
linkify-it-py==2.0.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdit-py-plugins==0.4.2
mdurl==0.1.2
myst-parser==4.0.1
packaging==25.0
pydata-sphinx-theme==0.15.4
Pygments==2.19.1
PyYAML==6.0.2
requests==2.32.3
roman-numerals-py==3.1.0
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==8.2.3
sphinx-basic-ng==1.0.0b2
sphinx-book-theme==1.1.4
sphinx-jinja==2.0.2
sphinx_design==0.6.1
sphinx_inline_tabs==2023.4.21
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==1.0.0
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
typing_extensions==4.13.2
uc-micro-py==1.0.3
urllib3==2.4.0
waitress==3.0.2
Werkzeug==3.1.3
